/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	background-color: #F8FAFC;
	height: 100vh;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	width: 100%;
	height: 75px;
	margin-bottom: 25px;
	padding: 0 5vw;
	box-shadow: 0px 3px rgba(0, 0, 0, 0.03);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.main-title a {
	font-size: 20px;
	color: #656971;
}

.header-lists {
	display: flex;
}

.user-header-links {
	position: relative;
}

.user-header-links::after{
	content: "\02228";
	padding-left: 10px;
}

.user-header-links .active::after{
	content: "\02227";
}

.header-list {
	margin-left: 10px;
	font-size: 15px;
}

.header-link {
	color: #656971;
}

.header-open-menus {
	display: none;
}

.header-open-menus.active {
	display: block;
	position: absolute;
	background: white;
	border: 1px solid;
	border-radius: 5px;
	top: 55px;
	right: 5%;
	padding: 5px 25px;
	text-align: center;
}

.container {
	margin: 0 auto;
	width: 80%;
}

.form-wrapper {
	height: auto;
	width: 70vw;
	border-radius: 3px;
	margin: 0 auto;
	padding-bottom: 25px;
	background-color: white;
	border: 1px solid #d5d5d7;
}

.form-header {
  height: 62px;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  padding: 0 2%;
  font-size: 10px;
  border: 1px solid #d5d5d7;
}

.form-container {
	height: auto;
	padding-bottom: 25px;
	width: 60%;
	margin: 45px auto 0 auto;
}

.text-field {
	border: 2px solid #d5d5d7;
	border-radius: 3px;
}

.field {
	width: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.form-label {
	display: block;
	width: 50%;
	font-size: 14px;
}
.form-field {
	display: block;
	width: 45vw;
	height: 35px;
	font-size: 18px;
	padding-left: 2%;
}

.password {
	font-weight: bold;
}

.remember-field {
	margin: 10px 0 15px 32%;
}
.submit {
	padding: 10px 20px;
	border-radius: 3px;
	background-color: #0184bd;
	color: white;
	margin: 0 2% 0 32%;
}

.forgot_link {
	font-size: 13px;
	color: blue;
}